[submodule "cgpm-resolutions"]
	path = sources/cgpm-resolutions
	url = https://github.com/metanorma/cgpm-resolutions.git
[submodule "sources/cipm-resolutions"]
	path = sources/cipm-resolutions
	url = https://github.com/metanorma/cipm-resolutions
